# Exclude all .DS_Store files in all directories
.DS_Store
dev_local/
input/
venv/
txt/

# Directories generated during package build
build/
dist/
*.egg-info/

# Python Caches
insightsolver/__pycache__/
__pycache__/
*.pyc
*.pyo

# Notebook Checkpoints
**/.ipynb_checkpoints/